<template name="firstArchive">
    <div id="firstarchive">
        <p class="title">Your First Archive</p>
        <p class="desc">Congratulations, you are now ready to create your first archive.  You can upload files directly<br/>to us, or link any of the popular cloud based services.  Click on an option to begin.</p>
        {{> fileSelectWidget}}
    </div>
</template>

<template name="fileSelectWidgetFooter">
    <div class="footer">
        <div class="finishedbuttonwrap">
            <button class="finishedbutton">Finished</button>
        </div>
    </div>
</template>