<template name="firstArchive">
    <div id="firstarchive">
        <p class="title">Your First Archive</p>
        <p class="desc">Congratulations, you are now ready to create your first archive.  You can upload files directly<br/>to us, or link any of the popular cloud based services.  Click on an option to begin.</p>
        {{> fileSelectWidget}}
    </div>
</template>

<template name="fileSelectWidget">
    <div class="fileselect">
        {{> fileSelectWidgetServiceTab}}
        {{> fileSelectWidgetServiceContent}}
        {{> fileSelectWidgetMyArchive}}
        {{> fileSelectWidgetFooter}}
    </div>
</template>

<template name="fileSelectWidgetServiceTab">
    <div class="servicetab">
        <div class="servicetabitem selected">
            <div class="servicetabicon"><i class="fa fa-dropbox"></i></div>
            <p class="servicetabname">Dropbox</p>
        </div>
        <div class="servicetabitem">
            <div class="servicetabicon"><img src="/google_drive_alternate_black.png" style="width: 50px;" /></div>
            <p class="servicetabname">Google Drive</p>
        </div>
        <div class="servicetabitem">
            <div class="servicetabicon"><img src="/skydrive_new_icon.png" style="width: 60px;" /></div>
            <p class="servicetabname">OneDrive</p>
        </div>
        <div class="servicetabitem">
            <div class="servicetabicon"><i class="fa fa-facebook-square"></i></div>
            <p class="servicetabname">Facebook</p>
        </div>
        <div class="servicetabitem">
            <div class="servicetabicon"><i class="fa fa-flickr"></i></div>
            <p class="servicetabname">Flickr</p>
        </div>
        <div class="servicetabitem">
            <div class="servicetabicon"><i class="fa fa-upload"></i></div>
            <p class="servicetabname">File Upload</p>
        </div>
    </div>
</template>

<template name="fileSelectWidgetServiceContent">
    <div class="servicecontent">
        
    </div>
</template>

<template name="fileSelectWidgetMyArchive">
    <div class="myarchive">
        <div class="myarchivesummary">
            <i class="fa fa-circle-thin"></i>
            <input type="text" id="myarchivename" placeholder="My Archive" />
            <span id="myarchiveusage">5 of 25 GB</span>
        </div>
        <div class="myarchivecontent">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:10%;">&nbsp;</th>
                        <th style="width:65%;">File/Folder Name</th>
                        <th style="width:10%;">From</th>
                        <th style="width:10%;">Size</th>
                        <th style="width:5%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fa fa-folder"></i></td>
                        <td>Folder</td>
                        <td><i class="fa fa-dropbox"></i></td>
                        <td>2.5 GB</td>
                        <td><i class="fa fa-minus-circle"></i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-file-image-o"></i></td>
                        <td>image.png</td>
                        <td><i class="fa fa-facebook-square"></i></td>
                        <td>5.65 MB</td>
                        <td><i class="fa fa-minus-circle"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="fileSelectWidgetFooter">
    <div class="footer">
        <div class="finishedbuttonwrap">
            <button class="finishedbutton">Finished</button>
        </div>
    </div>
</template>